.header{
    background-color: #031921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header__logo{
    width: 100px;
    margin-top: 18px;
    margin-left: 20px;
    margin-right: 20px;
    object-fit: contain;
}
.header__search{
    display:flex;
    flex: 1;
}
.header__searchInput{
height: 12px;
padding:10px;
border: none;
width: 100%;
}

.header__searchIcon{
    padding:5px;
    height: 22px !important;
    background-color: #cd9042;
}

.header__nav{
    display:flex;
    justify-content: space-evenly;
}

.header__link{
    color: #ffffff;
    text-decoration:none;
}

.header__option{
    display: flex;
    flex-direction: column;
    margin-left:10px;
    margin-right:10px;
}
.header__option > span:first-child{
   font-size: 10px;
}
.header__option > span:last-child{
    font-size: 13px;
    font-weight: 700;
}

.header__optionBasket{
    display: flex;
    align-items: center;
}

.header__basketCount{
    margin-left:10px ;
    margin-right:10px ;
}